<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <IfModule mod_mime.c>
       # Manifest file
       AddType application/manifest+json webmanifest
    </IfModule>

    # Allow Access Control Headers
    <IfModule mod_headers.c>
         # Header for service worker file
        <Files "sw.js">
            Header always set Service-Worker-Allowed "/"
            Header Set Cache-Control "max-age=0, public, must-revalidate"
            Header Set Expires "Thu, 1 Jan 1970 00:00:00 GMT"
        </Files>
    </IfModule>
</IfModule>
